<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="../../CSS/appPage.css">

<script>
    let user = <%- JSON.stringify(user) %>;
</script>

</head>
<body>

    <div id="masterConatiner">

        <!-- create a chat form -->
        <div id="chat_conatainer">

                <div id="canvas_container"></div>
                <div id="chat_Board"></div>

                <div id="ChatApi">

                    <input type="text" name="chat" id="chat">

                    <button id="askButton">Ask</button>

                </div>

        </div>

    </div>

    <!-- master.js -->
    <script src="../../JS/master.js"></script>
    
    <!-- canvas.js -->
    <script src="../../JS/canvas.js"></script>

    <script src="../../JS/APPFILES/app_responces.js"></script>
    <script src="../../JS/APPFILES/app_textEdits.js"></script>
    <script src="../../JS/APPFILES/chatAPI.js"></script>

    
</body>
</html>